%div{id: 'footer'}
  %a{id: 'to_top', href: '#'}先頭へ戻る
  %h1
    %span{class: 'maintitle'}
      Diver's Link Port
  %div{id: 'design_by'}
    Design by
    %a{href: 'http://f-tpl.com', target: '_blank'} http://f-tpl.com
